*{
    margin: 0px;
}
a{
    text-decoration: none;
    color: #fff;
}
ul li{
    list-style-type: none;
}
/* Header top */
header section.headerTop{
    background: #d25513;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
header section.headerTop address,
header section.headerTop .social,
header section.headerTop .signIn{
    margin-top: 20px;
}
header section.headerTop .dropdown-menu {
    margin-left: -80px;
    min-width: 120px;
    width: 120px;
    background-color: rgba(210,85,19,0.5);
}
header section.headerTop .signIn .dropdown-menu>li>a{
    color: #fff;
}
header section.headerTop .signIn .dropdown-menu > li > a:hover,
header section.headerTop .signIn .dropdown-menu > li > a:focus {
    background-color: #d25513;
    background-image: none;
}
header section.headerTop a:focus,
header section.headerTop a:hover,
header section.headerTop a:active{
    color: #fff;
}
.headerTop .social li>a>span.fa{
    color: #e39977;
    font-size: 17px;
    transition: ease 0.3s;
}
.headerTop .social li>a>span.fa:hover,
.headerTop .social li>a>span.fa:active,
.headerTop .social li>a>span.fa:focus{
    color: #fff;
    transition: ease 0.3s;
}
/* header top */

/* Header */
.header .navbar-default {
    border: none;
    background: #fff;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.header .navbar {
    border: none;
}
.header .navbar-toggle{
    margin-top: 20px;
    margin-right: 20px;
}
.header .navbar-default .navbar-toggle{
    border-color: #d25513;
}
.header .navbar-default .navbar-toggle:focus, 
.header .navbar-default .navbar-toggle:hover {
    background-color: #fca476;
}
.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #d25513;
}
.header .navbar-default .navbar-nav > li > a {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    border: none;
    color: #d25513;
    font-weight: bold;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-nav > li >a:hover,
.header .navbar-default .navbar-nav > li >a:focus {
    border-bottom: 4px solid #d25513;
    color: #bc5017;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border: none;
}
.header .pull-right {
    float: none !important;
}
.header .form-group{
    display: inline-block; 
}
.header .form-control{
    width: 200px;
    border: 1px solid #d25513;
    color: #d25513;
}
.header .form-control:focus {
    border-color: #d25513;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
.header .btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    background: #24292d;
    border-color: #313538;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    text-shadow: none;
    margin-left: -20px;
}
.header .btn:focus, 
.header .btn:active:focus, 
.header .btn.active:focus, 
.header .btn.focus, 
.header .btn:active.focus, 
.header .btn.active.focus {
    outline: none;
    outline-offset: 0px;
    background: #24292d;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
/* /header */

/* About restaurant start */
.aboutRestaurant{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'PT Sans', sans-serif;
    background: #64625f;
    color: #fff;
}
.aboutRestaurant h2{
    font-family: 'Playball', cursive;
}
.aboutRestaurant > .container > div > img{
    margin-bottom: 40px;
}
.aboutRestaurant > .container > div > h2 > img{
    width: 40px;
}
.aboutRestaurant p:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
}
.aboutRestaurant p:last-of-type{
    max-width: 66%;
}
/* /About restaurant end */

/* Who we are starts */
.whoWe{
    background: #f5f5f5;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 80px;
}
.whoWe > .container > .row > div > article > img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.whoWe p{
    color: #72777b;
}
.whoWe > .container > .row > div > article > h2{
    font-family: 'Playball', cursive;
    margin-top: 110px;
    color: #24292d;
}
.whoWe .meals figure{
    height: 75px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.whoWe .meals h2{
    margin-bottom: 30px;
    color: #24292d;
    font-family: 'PT Sans', sans-serif;
}
.whoWe .meals h2 a{
    color: #24292d;
    font-family: 'PT Sans', sans-serif;
}
.whoWe .meals h2 a:hover{
    text-decoration: none;
}
.whoWe .meals p{
    margin-bottom: 0px;
}
.whoWe > .container > .row div.meals article{
    margin-bottom: 130px;
}
/*  Who we are end */

/*  Slider  */
/* Za slajder postoje eksterni slider_mainAboutUs.css i slider_responsiveAboutUs.css*/
/*  /Slider  */

/* History start */
section.history{
    font-family: 'PT Sans', sans-serif;
    color: #24292d;
    margin-top: 0px;
    margin-bottom: 120px;
}
section.history > .container > .row > div article{
    height: 750px;
    padding: 0 10px 0 10px;
}
section.history > .container > .row div.goodTastes > article{
    height: 570px;
}
section.history > .container > .row > div:first-of-type > article > h2{
    font-family: 'Playball', cursive;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}
section.history > .container > .row > div:first-of-type > article > img{
    margin-bottom: 40px;
}
section.history > .container > .row > div:first-of-type > article > p:first-of-type{
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: bold;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(2){
    font-size: 15px;
    line-height: 24px;
    color: #72777b;
    margin: 0px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(3){
    font-size: 21px;
    line-height: 30px;
    color: #d25513;
    font-family: 'Playball', cursive;
    margin-top: 40px;
    margin-bottom: 40px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(3) img:first-of-type{
    position: relative;
    top: -10px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(3) img:last-of-type{
    position: relative;
    top: 10px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(4){
    font-size: 15px;
    line-height: 24px;
    color: #72777b;
}
section.history > .container > .row > div:last-child > article{
    background-color: #e1e1e1;
    background-image: url('style_images/tastesCircle.png');
    background-repeat: no-repeat;
    background-position: center center;
}
section.history > .container > .row > div:last-child > article > p{
    padding-top: 210px;
}
section.history > .container > .row > div:last-child > article > p > a{
    font-size: 60px;
    line-height: 100%;
    color: #d25513;
    font-family: 'Playball', cursive;
    text-decoration: none;
    transition: ease 0.5s;
}
section.history > .container > .row > div:last-child > article > p > a:hover{
    font-size: 70px;
    color: #d25513;
    transition: ease 0.5s;
}
/* /History end */

/* Chef start */
.chef{
    background: #f0f0f0;
    font-family: 'PT Sans', sans-serif;
}
.chef > .container > .row > div:first-child > article > h2{
    margin-top: 70px;
    font-size: 70px;
    font-family: 'Playball', cursive;
    color: #d25513;
}
.chef > .container > .row > div:first-child > article > p:first-of-type{
    margin: 0px;
    font-size: 21px;
    font-weight: bold;
}
.chef > .container > .row > div:first-of-type > article > img{
    margin-top: 30px;
    margin-bottom: 35px;
}
.chef > .container > .row > div:first-child > article > p:last-of-type{
    margin-bottom: 40px;
    color: #72777b;
}
.chef > .container > .row > div{
    padding-top: 70px;
}
.chef a{
    font-size: 21px;
    font-family: 'Playball', cursive;
    color: #72777b;
    transition: ease 0.3s;
}
.chef a:hover{
    color: #d25513;
    transition: ease 0.3s;
}
.chef a > img{
    margin-left: 10px;
}
/* /Chef end */

/* Five pics start */
.fivePics article{
    width: 100%;
}
.fivePics .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/* /Five pics end*/

/* Footer start */
footer{
    background: #d25513;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}
footer img{
    margin-top: 40px;
    margin-bottom: 35px;
}
footer .list-inline>li {
    padding-right: 12.5px;
    padding-left: 12.5px;
    margin-bottom: 30px;
}
footer ul.list-inline{
    margin: 0px;
}
footer .list-inline>li a{
    color: #e39977;
    font-size: 19px;
    transition: ease 0.3s;
}
footer .list-inline>li>a:hover,
footer .list-inline>li>a:active,
footer .list-inline>li>a:focus{
    color: #fff;
    transition: ease 0.3s;
}
footer div p{
    color: #fff;
    font-size: 15px;
}
footer div.container:last-child{
    padding-bottom: 40px;
}
footer>div.container:last-child>a{
    color: #eec6ba;
    font-size: 14px;
}
footer>div.container:last-child>a:hover{
    color: #fff;
}
/* /Footer end*/




