a{
    text-decoration: none;
    color: #fff;
}
ul li{
    list-style-type: none;
}


/*////---- FOR ALL PAGES HEADER START ----////*/
/* Header top */
header section.headerTop{
    background: #d25513;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
header section.headerTop address,
header section.headerTop .social,
header section.headerTop .signIn{
    margin-top: 20px;
}
header section.headerTop .dropdown-menu {
    margin-left: -80px;
    min-width: 120px;
    width: 120px;
    background-color: rgba(210,85,19,0.5);
}
header section.headerTop .signIn .dropdown-menu>li>a{
    color: #fff;
}
header section.headerTop .signIn .dropdown-menu > li > a:hover,
header section.headerTop .signIn .dropdown-menu > li > a:focus {
    background-color: #d25513;
    background-image: none;
}
header section.headerTop a:focus,
header section.headerTop a:hover,
header section.headerTop a:active{
    color: #fff;
}
.headerTop .social li>a>span.fa{
    color: #e39977;
    font-size: 17px;
    transition: ease 0.3s;
}
.headerTop .social li>a>span.fa:hover,
.headerTop .social li>a>span.fa:active,
.headerTop .social li>a>span.fa:focus{
    color: #fff;
    transition: ease 0.3s;
}
/* header top */

/* Header */
.header .navbar-default {
    border: none;
    background: #fff;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.header .navbar {
    border: none;
}
.header .navbar-toggle{
    margin-top: 20px;
    margin-right: 20px;
}
.header .navbar-default .navbar-toggle{
    border-color: #d25513;
}
.header .navbar-default .navbar-toggle:focus, 
.header .navbar-default .navbar-toggle:hover {
    background-color: #fca476;
}
.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #d25513;
}
.header .navbar-default .navbar-nav > li > a {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    border: none;
    color: #d25513;
    font-weight: bold;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-nav > li >a:hover,
.header .navbar-default .navbar-nav > li >a:focus {
    border-bottom: 4px solid #d25513;
    color: #bc5017;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border: none;
}
.header .pull-right {
    float: none !important;
}
.header .form-group{
    display: inline-block; 
}
.header .form-control{
    width: 200px;
    border: 1px solid #d25513;
    color: #d25513;
}
.header .form-control:focus {
    border-color: #d25513;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
.header .btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    background: #24292d;
    border-color: #313538;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    text-shadow: none;
    margin-left: -20px;
}
.header .btn:focus, 
.header .btn:active:focus, 
.header .btn.active:focus, 
.header .btn.focus, 
.header .btn:active.focus, 
.header .btn.active.focus {
    outline: none;
    outline-offset: 0px;
    background: #24292d;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
/* /header */
/*////---- FOR ALL PAGES HEADER END ----////*/






/*////---- HOME PAGE CSS START ----////*/
/*  Main  */
main{
    margin-top: -20px;
}
/*  Slider  */
/* Za slajder postoje eksterni slider_main.css i slider_responsive.css*/
/*  /Slider  */

/* PreciousSense */
.preciousSense p{
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #24292d;
    margin-top: 80px;
    margin-bottom: 0px;
}
.preciousSense h2{
    font-size: 30px;
    font-family: 'Playball', cursive;
    font-weight: bold;
    color: #24292d;
    margin-top: 0px;
    margin-bottom: 50px;
}
/* Tab */
.nav-tabs {
    display: inline-block;
    border: 1px solid #e8e7e4;
    border-radius: 35px;
    background: #f2f2f2;
    margin-bottom: 60px;
}
.nav-tabs > li {
    float: none;
    margin: 0px;
    margin-bottom: 0px;
}
.nav-tabs > li {
    display: inline-block;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {/* Potrebno je jos aditi */
    color: #fff;
    cursor: default;
    background-color: #d25513;
    border: 1px solid #b8470b;
    border-bottom-color: transparent;
    border-radius: 35px;
    outline: medium none;
}
.nav-tabs > li > a {/* Potrebno je jos aditi */
    margin: 0px;
    line-height: 1.3;
    border: 0px;
    color: #72777b;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 10px;
    border-radius: 35px;
    font-family: 'PT Sans', sans-serif;
}
.nav-tabs > li > a:hover{
    border: 1px solid #b8470b;
}
/* /Tab */

/* Slider Four Pics */
.tab-content{
    background: #fff;
}
.tab-pane .userComment h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: #24292d;
    font-family: 'PT Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}
.tab-pane .userComment p{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 100;
    line-height: 15px;
    color: #929292;
    font-family: 'PT Sans', sans-serif;
}
.tab-pane .userComment article{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    border: 1px solid #ecebe8;
    width: 240px;
}
.tab-pane .userComment article figure img{
    width: 100%;
}
.tab-pane .userComment article .line{
    margin-bottom: 23px;
}
.tab-pane .userComment article div.socialIcons ul:first-child{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.tab-pane .userComment article div ul li a:first-of-type{
    color: #bcbcbc;
    font-size: 14px;
    line-height: 20px;
}
.tab-pane .userComment article div.socialIcons ul:last-child{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.tab-pane .userComment article button {
    background: none;
    border: 1px solid #ecebe8;
    border-radius: 35px;
    box-shadow: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    color: #929292;
}
.tab-pane .userComment article button:hover,
.tab-pane .userComment article button:focus,
.tab-pane .userComment article button:active{
    color: #d25513;
    border-color: #d25513;
}
.tab-pane .userComment article button:first-of-type{
    margin-right: 15px;
}
.tab-pane .userComment article div.socialIcons{
    margin-top: 30px;
    border-top: 1px solid #ecebe8;
    padding-left: 20px;
    padding-right: 20px;
}
.tab-pane .slick-next {
    right: 25px;
}
.tab-pane .slick-prev::before,
.tab-pane .slick-next::before {
    color: #c0bebd;
    display: none;
}
.tab-pane .slick-dots li button {
    background: #c0bebd;
    border: 0 none;
    height: 10px;
    width: 10px;
    outline: medium none;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 120px;
}

.tab-pane .slick-dots li.slick-active button::before {
    border: 1px solid #c0bebd;
    border-radius: 50%;
}
.tab-pane .slick-dots li button::before {
    font-size: 0px;
    width: 20px;
    height: 20px;
    top: 25%;
    left: 25%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 1;
}
.tab-pane .userComment article button:hover, 
.tab-pane .userComment article button:focus, 
.tab-pane .userComment article button:active {
    outline: none;
}
/* /Slider Four Pics */

/* /PreciousSense */

/* Special Offers starts */
.specialOffers{
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
}
.specialOffers .sideContent p:first-child {
    font-size: 14px;
    font-family: 'Playball', cursive;
    color: #24292d;
    margin-bottom: 20px;
}
.specialOffers .sideContent h2{
    font-size: 16px;
    color: #d25513;
    margin-bottom: 20px;
}

.specialOffers .sideContent p:nth-of-type(2) {
    font-size: 13px;
    color: #72777b;
    margin-top: 50px;
    margin-bottom: 30px;
}
.specialOffers .sideContent p:nth-of-type(3) {
    font-size: 13px;
    color: #72777b;
    margin-bottom: 70px;
}
.specialOffers .sideContent button{
    padding: 20px 50px;
    color: #fff;
    background: #d25113;
    border: 1px solid #d25113;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: none;
    transition: ease 0.5s;
    font-weight: bold;
}

.specialOffers .sideContent button:hover{
    padding: 20px 50px;
    color: #fff;
    background: #aa4008;
    transition: ease 0.5s;
}
.specialOffers .sideContent button:focus,
.specialOffers .sideContent button:active{
    outline: 2px dotted #c0bebd;
}
.specialOffers .media{
    display: inline-block;
}
.specialOffers .mediaContent .img-circle{
    height: 90px;
}
.specialOffers .mediaContent{
    font-family: 'PT Sans', sans-serif;
}
.specialOffers .mediaContent h2{
    text-align: center;
    font-size: 36px;
    color: #24292d;
    margin-top: 50px;
}
.specialOffers .mediaContent > p{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #d25113;
}
.specialOffers .mediaContent .media{
    position: relative;
    max-width: 360px;
    min-width: 290px;
    margin: 5px;
}
.specialOffers .mediaContent .media .media-body h3,
.specialOffers .mediaContent .media .media-body p{
    line-height: 30px;
}
.specialOffers .mediaContent .media .media-body h3{
    font-size: 16px;
    color: #24292d;
    text-align: left;
    font-weight: bold;
}
.specialOffers .mediaContent .media .media-body p{
    font-size: 15px;
    color: #72777b !important;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
}
.specialOffers .mediaContent .media .media-body span{
    position: absolute;
    top: 5px;
    right: 0;
}

/* /Special Offers end */

/* Services starts */
.services{
    background: #f5f5f5;
    font-family: 'PT Sans', sans-serif;
}
.services > .container > .row > div > article > img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.services p{
    color: #72777b;
}
.services > .container > .row > div > article > h2{
    font-family: 'Playball', cursive;
    margin-top: 110px;
    color: #24292d;
}
.services .meals figure{
    height: 75px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.services .meals h2{
    margin-bottom: 30px;
    color: #24292d;
    font-family: 'PT Sans', sans-serif;
}
.services .meals p{
    margin-bottom: 110px;
}
/*  Services end */

/* Booking start */
.booking > .container > .row > div > article > h2{
    font-family: 'Playball', cursive;
    margin-top: 70px;
    color: #24292d;
}
.booking > .container > .row > div > article > img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.booking p:first-of-type{
    font-weight: bold;
}
.booking p:last-of-type{
    color: #72777b;
}
.booking{
    margin-bottom: 80px;
    font-family: 'PT Sans', sans-serif;
}
.booking img.chef{
    margin-top: 60px;
}
.booking .form-control{
    height: 35px;
    padding: 0px;
}
.booking form{
    padding: 15px 10px 15px 10px;
    border: 5px solid #f5f5f5;
}
.booking form .form-group {
    margin-bottom: 20px;
}
.booking .forms h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Playball', cursive;
}
.booking .form-control:focus {
    border-color: #d25513;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
/* /Booking end */

/*////---- HOME PAGE END ----////*/






/*////---- ABOUT US PAGE CSS START ----////*/

/* About restaurant start */
.aboutRestaurant{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'PT Sans', sans-serif;
    background: #64625f;
    color: #fff;
    margin-top: 40px;
}
.aboutRestaurant h2{
    font-family: 'Playball', cursive;
}
.aboutRestaurant > .container > div > img{
    margin-bottom: 40px;
}
.aboutRestaurant > .container > div > h2 > img{
    width: 40px;
}
.aboutRestaurant p:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
}
.aboutRestaurant p:last-of-type{
    max-width: 66%;
}
/* /About restaurant end */

/* Who we are starts */
.whoWe{
    background: #f5f5f5;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 80px;
}
.whoWe > .container > .row > div > article > img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.whoWe p{
    color: #72777b;
}
.whoWe > .container > .row > div > article > h2{
    font-family: 'Playball', cursive;
    margin-top: 110px;
    color: #24292d;
}
.whoWe .meals figure{
    height: 75px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.whoWe .meals h2{
    margin-bottom: 30px;
    color: #24292d;
    font-family: 'PT Sans', sans-serif;
}
.whoWe .meals h2 a{
    color: #24292d;
    font-family: 'PT Sans', sans-serif;
}
.whoWe .meals h2 a:hover{
    text-decoration: none;
}
.whoWe .meals p{
    margin-bottom: 0px;
}
.whoWe > .container > .row div.meals article{
    margin-bottom: 130px;
}
/*  Who we are end */

/*  Slider  */
/* Za slajder postoje eksterni slider_mainAboutUs.css i slider_responsiveAboutUs.css*/
/*  /Slider  */

/* History start */
section.history{
    font-family: 'PT Sans', sans-serif;
    color: #24292d;
    margin-top: 0px;
    margin-bottom: 120px;
}
section.history > .container > .row > div article{
    height: 750px;
    padding: 0 10px 0 10px;
}
section.history > .container > .row div.goodTastes > article{
    height: 570px;
}
section.history > .container > .row > div:first-of-type > article > h2{
    font-family: 'Playball', cursive;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}
section.history > .container > .row > div:first-of-type > article > img{
    margin-bottom: 40px;
}
section.history > .container > .row > div:first-of-type > article > p:first-of-type{
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: bold;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(2){
    font-size: 15px;
    line-height: 24px;
    color: #72777b;
    margin: 0px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(3){
    font-size: 21px;
    line-height: 30px;
    color: #d25513;
    font-family: 'Playball', cursive;
    margin-top: 40px;
    margin-bottom: 40px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(3) img:first-of-type{
    position: relative;
    top: -10px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(3) img:last-of-type{
    position: relative;
    top: 10px;
}
section.history > .container > .row > div:first-of-type > article > p:nth-of-type(4){
    font-size: 15px;
    line-height: 24px;
    color: #72777b;
}
section.history > .container > .row > div:last-child > article{
    background-color: #e1e1e1;
    background-image: url('style_images/tastesCircle.png');
    background-repeat: no-repeat;
    background-position: center center;
}
section.history > .container > .row > div:last-child > article > p{
    padding-top: 210px;
}
section.history > .container > .row > div:last-child > article > p > a{
    font-size: 60px;
    line-height: 100%;
    color: #d25513;
    font-family: 'Playball', cursive;
    text-decoration: none;
    transition: ease 0.5s;
}
section.history > .container > .row > div:last-child > article > p > a:hover{
    font-size: 70px;
    color: #d25513;
    transition: ease 0.5s;
}
/* /History end */

/* Chef start */
.chef{
    background: #f0f0f0;
    font-family: 'PT Sans', sans-serif;
}
.chef > .container > .row > div:first-child > article > h2{
    margin-top: 70px;
    font-size: 70px;
    font-family: 'Playball', cursive;
    color: #d25513;
}
.chef > .container > .row > div:first-child > article > p:first-of-type{
    margin: 0px;
    font-size: 21px;
    font-weight: bold;
}
.chef > .container > .row > div:first-of-type > article > img{
    margin-top: 30px;
    margin-bottom: 35px;
}
.chef > .container > .row > div:first-child > article > p:last-of-type{
    margin-bottom: 40px;
    color: #72777b;
}
.chef > .container > .row > div{
    padding-top: 70px;
}
.chef a{
    font-size: 21px;
    font-family: 'Playball', cursive;
    color: #72777b;
    transition: ease 0.3s;
}
.chef a:hover{
    color: #d25513;
    transition: ease 0.3s;
}
.chef a > img{
    margin-left: 10px;
}
/* /Chef end */

/* /Main */

/*////---- ABOUT US PAGE CSS END ----////*/






/*////---- MENU PAGE CSS START ----////*/
/* Our menu start */
.first{
    margin-top: 40px;
}
.appetizers{
    margin-bottom: 70px;
}
.products > h3 > small,
.products > h4 > small{
    display: none;
}
.products > small{
    color: #72777b;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.specials .headingSecond > img{
    margin-top: 0px;
}
/* /Our menu end */

/* All headings */
.headings{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'PT Sans', sans-serif;
    background: #64625f;
    color: #fff;
}
.headings h2{
    font-family: 'Playball', cursive;
}
.headings > .container > div > img{
    margin-bottom: 40px;
}
.headings > .container > div > h2 > img{
    width: 40px;
}
.headings p:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
}
.headings p:last-of-type{
    max-width: 66%;
}
/* All headings */
/* All headingSecond */
.headingSecond > img{
    color: #24292d;
    margin-top: 110px;
    margin-bottom: 65px;
}
.headingSecond > h2{
    font-family: 'Playball', cursive;
    font-size: 30px;
}
.headingSecond > p{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    margin-bottom: 65px;
    font-weight: bold;
}
/* All headingSecond */
/* All rows */
article.menuProducts{
    margin-bottom: 70px;
}
.products > p{
    border-bottom: 1px dotted #24292d;
    color: #393939
}
.products > p > a{
    font-size: 12px;
    line-height: 26px;
    font-family: 'PT Sans', sans-serif;
}
.products > p > a,
.products > h3 > a,
.products > h4 > a{
    color: #24292d;
    background: #fff;
    position: relative;
    bottom: -7px;
    text-decoration: none;
}
.products > h3 > a{
    font-size: 18px;
    font-family: Myriad Pro;
}
.products > h4 > a{
    font-size: 16px;
    font-family: Myriad Pro;
}
article.menuPrice{
    margin-bottom: 70px;
}
.price > p{
    font-size: 12px;
    line-height: 26px;
    position: relative;
    bottom: -7px;
}
/* All rows */
/* ThirdHeading all */
.thirdHeading{
    background: #707375;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
}
.thirdHeading > h2 > img{
    position: relative;
    bottom: 15px;
    margin-right: 10px;
}
.thirdHeading > h2{
    line-height: 54px;
    font-family: 'Playball', cursive;
    font-size: 30px;
    margin: 0px;
}
.thirdHeading > p{
    font-size: 12px;
    font-weight: bold;
}
/* ThirdHeading all */
/*////---- MENU PAGE CSS END ----////*/







/*////---- FOR ALL PAGES FOOTER START ----////*/
/* Five pics start */
.fivePics article{
    width: 100%;
}
.fivePics .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/* /Five pics end*/

/* Footer start */
footer{
    background: #d25513;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}
footer img{
    margin-top: 40px;
    margin-bottom: 35px;
}
footer .list-inline>li {
    padding-right: 12.5px;
    padding-left: 12.5px;
    margin-bottom: 30px;
}
footer ul.list-inline{
    margin: 0px;
}
footer .list-inline>li a{
    color: #e39977;
    font-size: 19px;
    transition: ease 0.3s;
}
footer .list-inline>li>a:hover,
footer .list-inline>li>a:active,
footer .list-inline>li>a:focus{
    color: #fff;
    transition: ease 0.3s;
}
footer div p{
    color: #fff;
    font-size: 15px;
}
footer div.container:last-child{
    padding-bottom: 40px;
}
footer>div.container:last-child>a{
    color: #eec6ba;
    font-size: 14px;
}
footer>div.container:last-child>a:hover{
    color: #fff;
}
/* /Footer end*/
/*////---- FOR ALL PAGES FOOTER END ----////*/














