a{
    text-decoration: none;
    color: #fff;
}
ul li{
    list-style-type: none;
}
/* Header top */
header section.headerTop{
    background: #d25513;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
header section.headerTop address,
header section.headerTop .social,
header section.headerTop .signIn{
    margin-top: 20px;
}
header section.headerTop .dropdown-menu {
    margin-left: -80px;
    min-width: 120px;
    width: 120px;
    background-color: rgba(210,85,19,0.5);
}
header section.headerTop .signIn .dropdown-menu>li>a{
    color: #fff;
}
header section.headerTop .signIn .dropdown-menu > li > a:hover,
header section.headerTop .signIn .dropdown-menu > li > a:focus {
    background-color: #d25513;
    background-image: none;
}
header section.headerTop a:focus,
header section.headerTop a:hover,
header section.headerTop a:active{
    color: #fff;
}
/* header top */

/* Header */
.header .navbar-default {
    border: none;
    background: #fff;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.header .navbar {
    border: none;
}
.header .navbar-toggle{
    margin-top: 20px;
    margin-right: 20px;
}
.header .navbar-default .navbar-toggle{
    border-color: #d25513;
}
.header .navbar-default .navbar-toggle:focus, 
.header .navbar-default .navbar-toggle:hover {
    background-color: #fca476;
}
.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #d25513;
}
.header .navbar-default .navbar-nav > li > a {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    border: none;
    color: #d25513;
    font-weight: bold;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-nav > li >a:hover,
.header .navbar-default .navbar-nav > li >a:focus {
    border-bottom: 4px solid #d25513;
    color: #bc5017;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border: none;
}
.header .pull-right {
    float: none !important;
}
.header .form-group{
    display: inline-block; 
}
.header .form-control{
    width: 200px;
    border: 1px solid #d25513;
    color: #d25513;
}
.header .form-control:focus {
    border-color: #d25513;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
.header .btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    background: #24292d;
    border-color: #313538;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    text-shadow: none;
    margin-left: -20px;
}
.header .btn:focus, 
.header .btn:active:focus, 
.header .btn.active:focus, 
.header .btn.focus, 
.header .btn:active.focus, 
.header .btn.active.focus {
    outline: none;
    outline-offset: 0px;
    background: #24292d;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
/* /header */

/*  Main  */
main{
    margin-top: -10px;
}
/*  Slider  */
/* Za slajder postoje eksterni slider_main.css i slider_responsive.css*/
/*  /Slider  */

/* PreciousSense */
.preciousSense p{
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #24292d;
    margin-top: 80px;
    margin-bottom: 0px;
}
.preciousSense h2{
    font-size: 30px;
    font-family: 'Playball', cursive;
    font-weight: bold;
    color: #24292d;
    margin-top: 0px;
    margin-bottom: 50px;
}
/* Tab */
.nav-tabs {
    display: inline-block;
    border: 1px solid #e8e7e4;
    border-radius: 35px;
    background: #f2f2f2;
    margin-bottom: 60px;
}
.nav-tabs > li {
    float: none;
    margin: 0px;
    margin-bottom: 0px;
}
.nav > li {
    display: inline-block;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {/* Potrebno je jos aditi */
    color: #fff;
    cursor: default;
    background-color: #d25513;
    border: 1px solid #b8470b;
    border-bottom-color: transparent;
    border-radius: 35px;
    outline: medium none;
}
.nav-tabs > li > a {/* Potrebno je jos aditi */
    margin: 0px;
    line-height: 1.3;
    border: 0px;
    color: #72777b;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 10px;
    border-radius: 35px;
    font-family: 'PT Sans', sans-serif;
}
.nav-tabs > li > a:hover{
    border: 1px solid #b8470b;
}
/* /Tab */

/* Slider Four Pics */
.tab-content{
    background: #fefefe;
}
.tab-pane .userComment h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: #24292d;
    font-family: 'PT Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}
.tab-pane .userComment p{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 100;
    line-height: 15px;
    color: #929292;
    font-family: 'PT Sans', sans-serif;
}
.tab-pane .userComment article{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    border: 1px solid #ecebe8;
    width: 240px;
}
.tab-pane .userComment article figure img{
    width: 100%;
}
.tab-pane .userComment article .line{
    margin-bottom: 23px;
}
.tab-pane .userComment article div ul:first-child{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.tab-pane .userComment article div ul li a:first-of-type{
    color: #bcbcbc;
    font-size: 14px;
    line-height: 20px;
}
.tab-pane .userComment article div ul:last-child{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.tab-pane .userComment article button {
    background: none;
    border: 1px solid #ecebe8;
    border-radius: 35px;
    box-shadow: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    color: #929292;
}
.tab-pane .userComment article button:hover,
.tab-pane .userComment article button:focus,
.tab-pane .userComment article button:active{
    color: #d25513;
    border-color: #d25513;
}
.tab-pane .userComment article button:first-of-type{
    margin-right: 15px;
}
.tab-pane .userComment article div.socialIcons{
    margin-top: 30px;
    border-top: 1px solid #ecebe8;
    padding-left: 20px;
    padding-right: 20px;
}
.tab-pane .slick-prev::before,
.tab-pane .slick-next::before {
    color: #c0bebd;
    display: none;
}
.tab-pane .slick-dots li button {
    background: #c0bebd;
    border: 0 none;
    height: 10px;
    width: 10px;
    outline: medium none;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 120px;
}

.tab-pane .slick-dots li.slick-active button::before {
    border: 1px solid #c0bebd;
    border-radius: 50%;
}
.tab-pane .slick-dots li button::before {
    font-size: 0px;
    width: 20px;
    height: 20px;
    top: 25%;
    left: 25%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 1;
}
/* /Slider Four Pics */

/* /PreciousSense */

/*  /Main  */












