*{
    margin: 0px;
}
a{
    text-decoration: none;
    color: #fff;
}
ul li{
    list-style-type: none;
}
/* Header top */
header section.headerTop{
    background: #d25513;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
header section.headerTop address,
header section.headerTop .social,
header section.headerTop .signIn{
    margin-top: 20px;
}
header section.headerTop .dropdown-menu {
    margin-left: -80px;
    min-width: 120px;
    width: 120px;
    background-color: rgba(210,85,19,0.5);
}
header section.headerTop .signIn .dropdown-menu>li>a{
    color: #fff;
}
header section.headerTop .signIn .dropdown-menu > li > a:hover,
header section.headerTop .signIn .dropdown-menu > li > a:focus {
    background-color: #d25513;
    background-image: none;
}
header section.headerTop a:focus,
header section.headerTop a:hover,
header section.headerTop a:active{
    color: #fff;
}
.headerTop .social li>a>span.fa{
    color: #e39977;
    font-size: 17px;
    transition: ease 0.3s;
}
.headerTop .social li>a>span.fa:hover,
.headerTop .social li>a>span.fa:active,
.headerTop .social li>a>span.fa:focus{
    color: #fff;
    transition: ease 0.3s;
}
/* header top */

/* Header */
.header .navbar-default {
    border: none;
    background: #fff;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.header .navbar {
    border: none;
}
.header .navbar-toggle{
    margin-top: 20px;
    margin-right: 20px;
}
.header .navbar-default .navbar-toggle{
    border-color: #d25513;
}
.header .navbar-default .navbar-toggle:focus, 
.header .navbar-default .navbar-toggle:hover {
    background-color: #fca476;
}
.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #d25513;
}
.header .navbar-default .navbar-nav > li > a {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    border: none;
    color: #d25513;
    font-weight: bold;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-nav > li >a:hover,
.header .navbar-default .navbar-nav > li >a:focus {
    border-bottom: 4px solid #d25513;
    color: #bc5017;
    transition: ease 0.1s;
}
.header .navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border: none;
}
.header .pull-right {
    float: none !important;
}
.header .form-group{
    display: inline-block; 
}
.header .form-control{
    width: 200px;
    border: 1px solid #d25513;
    color: #d25513;
}
.header .form-control:focus {
    border-color: #d25513;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
.header .btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    background: #24292d;
    border-color: #313538;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    text-shadow: none;
    margin-left: -20px;
}
.header .btn:focus, 
.header .btn:active:focus, 
.header .btn.active:focus, 
.header .btn.focus, 
.header .btn:active.focus, 
.header .btn.active.focus {
    outline: none;
    outline-offset: 0px;
    background: #24292d;
    -webkit-box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
    box-shadow: inset 0 1px 1px rgba(210,85,19,.075),0 0 8px rgba(210,85,19,.6);
}
/* /header */

/* Our menu start */
.appetizers{
    margin-bottom: 70px;
}
.products > h3 > small,
.products > h4 > small{
    display: none;
}
/* /Our menu end */

/* All headings */
.headings{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'PT Sans', sans-serif;
    background: #64625f;
    color: #fff;
}
.headings h2{
    font-family: 'Playball', cursive;
}
.headings > .container > div > img{
    margin-bottom: 40px;
}
.headings > .container > div > h2 > img{
    width: 40px;
}
.headings p:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
}
.headings p:last-of-type{
    max-width: 66%;
}
/* All headings */
/* All headingSecond */
.headingSecond > img{
    color: #24292d;
    margin-top: 110px;
    margin-bottom: 65px;
}
.headingSecond > h2{
    font-family: 'Playball', cursive;
    font-size: 40px;
}
.headingSecond > p{
    font-size: 18px;
    margin-bottom: 65px;
    font-weight: bold;
}
/* All headingSecond */
/* All rows */
.products > p{
    border-bottom: 1px dotted #24292d;
}
.products > p > a{
    font-size: 12px;
    line-height: 26px;
    font-family: 'PT Sans', sans-serif;
}
.products > p > a,
.products > h3 > a,
.products > h4 > a{
    color: #24292d;
    background: #fff;
    position: relative;
    bottom: -7px;
    text-decoration: none;
}
.products > h3 > a{
    font-size: 18px;
    font-family: Myriad Pro;
}
.products > h4 > a{
    font-size: 16px;
    font-family: Myriad Pro;
}
.price > p{
    font-size: 12px;
    line-height: 26px;
    position: relative;
    bottom: -7px;
}
/* All rows */
/* ThirdHeading all */
.thirdHeading{
    background: #707375;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
}
.thirdHeading > h2 > img{
    position: relative;
    bottom: 15px;
    margin-right: 10px;
}
.thirdHeading > h2{
    line-height: 54px;
    font-family: 'Playball', cursive;
    font-size: 30px;
    margin: 0px;
}
.thirdHeading > p{
    font-size: 12px;
}
/* ThirdHeading all */


/* Five pics start */
.fivePics article > img{
    margin: auto;
}
.fivePics article{
    width: 100%;
    margin: 0px;
}
.fivePics .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/* /Five pics end*/

/* Footer start */
footer{
    background: #d25513;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}
footer img{
    margin-top: 40px;
    margin-bottom: 35px;
}
footer .list-inline>li {
    padding-right: 12.5px;
    padding-left: 12.5px;
    margin-bottom: 30px;
}
footer ul.list-inline{
    margin: 0px;
}
footer .list-inline>li a{
    color: #e39977;
    font-size: 19px;
    transition: ease 0.3s;
}
footer .list-inline>li>a:hover,
footer .list-inline>li>a:active,
footer .list-inline>li>a:focus{
    color: #fff;
    transition: ease 0.3s;
}
footer div p{
    color: #fff;
    font-size: 15px;
}
footer div.container:last-child{
    padding-bottom: 40px;
}
footer>div.container:last-child>a{
    color: #eec6ba;
    font-size: 14px;
}
footer>div.container:last-child>a:hover{
    color: #fff;
}
/* /Footer end*/







