@media only screen and (min-width: 768px){
    /* Header top */
    .headerTop .signIn ul{
        margin-right: -15px;
    }
    .headerTop article address{
        margin-left: -15px;
    }
    /* /Header top */

    /* Header */
    .header .navbar-brand{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .header .navbar-default ul.navbar-nav {
        margin-top: 0px;
        margin-right: -15px;
        float: right;
    }
    .header .navbar-default div.navbar-collapse{
        margin-right: -15px;
    }
    .header .navbar-default .navbar-nav .text-center{
        text-align: right;
    }
    .header .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        color: #24292d;
        font-weight: bold;
        height: 50px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .header .navbar-default div.navbar-collapse .list-inline li{
        padding: 0px;
    }
    .header form{
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline-block;
    }
    .header .form-control{
        margin-left: 50px;
    }
    .header form.pull-right{
        float: right !important;
    }
    /* /Header */

    /* Our menu start */
    .ourMenu{
        padding-top: 160px;
        padding-bottom: 160px;
        margin-top: -20px;
    }
    .appetizers{
        margin-bottom: 110px;
    }
    .products > h3 > small,
    .products > h4 > small{
        display: inline;
        position: relative;
        bottom: -7px;
    }
    .breakfast .products > p > a{
        font-size: 14px;
    }
    .breakfast .price > p{
        font-size: 14px;
    }
    /* /Our menu end */

    /* All headings */
    .headings > .container > div > h2{
        font-size: 76px;
    }
    .headings > .container > div > h2 > img{
        width: 70px;
    }
    .headings p:first-of-type{
        font-size: 18px;
    }
    .headings p:last-of-type{
        font-size: 15px;
    }
    /* All headings */

    /* All rows */
    .products{
        margin-bottom: 25px;
    }
    .products > p > a{
        font-size: 18px;
    }
    .products > h3 > a{
        font-size: 26px;
    }
    .products > h4 > a{
        font-size: 24px;
    }
    .price > p{
        font-size: 18px;
    }
    /* All rows */
    /* ThirdHeading all */
    .thirdHeading{
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .thirdHeading > h2{
        font-size: 40px;
    }
    .thirdHeading > p{
        font-size: 16px;
    }
    /* ThirdHeading all */

    /* Five pics start */
    .fivePics article{
        width: 20%;
        float: left;
    }
    /* /Five pics end*/
}

@media only screen and (min-width: 992px){
    /* Header top */
    .headerTop article address{
        float: left;
    }
    .headerTop .signIn ul.text-center{
        text-align: right;
    }
    /* /Header top */

    /* Header */
    .header .navbar-brand{
        margin-top: 10px;
    }
    .header .navbar-default ul.navbar-nav {
        float: left;
    }
    .header .navbar-default .navbar-nav > li > a {
        height: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .header form{
        margin-top: 30px;
    }
    .header .form-control{
        width: 150px;
        margin-left: 50px;
    }
    .header .navbar-default div.navbar-collapse {
        display: inline-block;
        float: right;
    }
    /* /Header */
}

@media only screen and (min-width: 1200px){
    /* Header */
    .header .navbar-header{
        margin-left: -15px;
    }
    .header .navbar-default div.navbar-collapse {
        margin-right: -15px;
    }
    .header form{
        margin-right: -15px;
        padding-right: 0px;
    }
    .header .form-control{
        margin-left: 0px;
    }
    /* /Header */
}
