@media only screen and (min-width: 768px){

    /* Header top */
    .headerTop .signIn ul{
        margin-right: -15px;
    }
    .headerTop article address{
        margin-left: -15px;
    }
    /* /Header top */

    /* Header */
    .header .navbar-brand{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .header .navbar-default ul.navbar-nav {
        margin-top: 0px;
        margin-right: -15px;
        float: right;
    }
    .header .navbar-default div.navbar-collapse{
        margin-right: -15px;
    }
    .header .navbar-default .navbar-nav .text-center{
        text-align: right;
    }
    .header .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        color: #24292d;
        font-weight: bold;
        height: 50px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .header .navbar-default div.navbar-collapse .list-inline li{
        padding: 0px;
    }
    .header form{
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline-block;
    }
    .header .form-control{
        margin-left: 50px;
    }
    .header form.pull-right{
        float: right !important;
    }
    /* /Header */

    /* Slajder poseduje eksterni main_slider.css i responsive_slider.css */

    /* PreciousSense */
    .preciousSense p{
        font-size: 21px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        color: #24292d;
        margin-top: 120px;
        margin-bottom: 0px;
    }
    .preciousSense h2{
        font-size: 60px;
        font-family: 'Playball', cursive;
        font-weight: bold;
        color: #24292d;
        margin-top: 0px;
        margin-bottom: 90px;
    }

    /* Tab */
    .nav-tabs {
        border-radius: 35px;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {/* Potrebno je jos aditi */
        border-radius: 35px;
    }
    .nav-tabs > li > a {/* Potrebno je jos aditi */
        line-height: 120%;
        padding: 20px 40px;
        border-radius: 35px;
        font-size: 20px;
    }
    /* /Tab */

    /* Slider Four Pics */
    .tab-pane .slick-next {
        right: -15px;
    }
    .tab-pane .slick-prev::before,
    .tab-pane .slick-next::before {
        display: inline-block;
    }
    /* /Slider Four Pics */

    /* /PreciousSense */

    /* Special Offers starts */
    .specialOffers .mediaContent h2{
        text-align: left;
        font-size: 36px;
        margin-top: 0px;
    }
    .specialOffers .mediaContent p:first-of-type{
        font-family: 'Playball', cursive;
        font-size: 24px;
        text-align: left;
        color: #d25113;
    }
    .specialOffers .mediaContent .media{
        margin: 10px;
    }
    /* /Special Offers end */

    /* Services start */
    .services > .container > .row > div > article > p{
        font-size: 21px;
    }
    .services > .container > .row > div > article > p:last-of-type{
        font-size: 18px;
    }
    .services > .container > .row > div > article > h2{
        font-size: 60px;
    }
    .services .meals h2{
        font-size: 18px;
    }
    .services .meals p{
        font-size: 15px;
    }
    /* /Services end */

    /* Booking start */
    .booking{
        margin-bottom: 120px;
    }
    .booking > .container > .row > div > article > h2{
        font-size: 60px;
        margin-top: 110px;
    }
    .booking p:first-of-type{
        font-size: 18px;
    }
    .booking p:last-of-type{
        font-size: 15px;
    }
    /* /Booking end */
}
@media only screen and (min-width: 992px){

    /* Header top */
    .headerTop article address{
        float: left;
    }
    .headerTop .signIn ul.text-center{
        text-align: right;
    }
    /* /Header top */

    /* Header */
    .header .navbar-brand{
        margin-top: 10px;
    }
    .header .navbar-default ul.navbar-nav {
        float: left;
    }
    .header .navbar-default .navbar-nav > li > a {
        height: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .header form{
        margin-top: 30px;
    }
    .header .form-control{
        width: 150px;
        margin-left: 50px;
    }
    .header .navbar-default div.navbar-collapse {
        display: inline-block;
        float: right;
    }
    /* /Header */

    /* Slajder poseduje eksterni main_slider.css i responsive_slider.css */

    /* Special Offers starts */
    .specialOffers{
        margin-top: 120px;
        margin-bottom: 120px;
        font-family: 'PT Sans', sans-serif;
    }
    .specialOffers .sideContent{
        padding-right: 15px;
    }
    .specialOffers .sideContent p:first-child {
        font-size: 24px;
        line-height: 32px;
    }
    .specialOffers .sideContent h2{
        font-size: 18px;
    }
    .specialOffers .sideContent p:nth-of-type(2) {
        font-size: 15px;
        line-height: 24px;
    }
    .specialOffers .sideContent p:nth-of-type(3) {
        font-size: 15px;
        line-height: 24px;
    }
    .specialOffers .mediaContent > p{
        margin-bottom: 60px;
    }
    /* /Special Offers end */

    /* Booking start */
    .booking img.chef{
        margin-top: 30px;
    }
    .booking .form-control{
        height: 50px;
        padding: 6px 12px;
    }
    .booking .littleForm {
        padding-bottom: 20px;
    }
    .booking form{
        padding: 30px 45px 30px 45px;
        border: 5px solid #f5f5f5;
    }
    .booking form .form-group {
        margin-bottom: 20px;
    }
    .booking .littleForm .form-group{
        width: 48%;
        float: left;
    }
    .booking .littleForm .form-group:first-child{
        margin-right: 4%;
    }
    .booking .littleForm .form-group {
        margin-bottom: 0;
    }
    .booking .forms h2{
        font-size: 60px;
    }
    .booking .forms button{
        margin-top: 30px;
    }
    .booking .forms h2{
        font-size: 60px;
    }
    .booking .forms button {
        margin-top: 0px;
    }
    /* /Booking End */
}
@media only screen and (min-width: 1200px){

    /* Header */
    .header .navbar-header{
        margin-left: -15px;
    }
    .header .navbar-default div.navbar-collapse {
        margin-right: -15px;
    }
    .header form{
        margin-right: -15px;
        padding-right: 0px;
    }
    .header .form-control{
        margin-left: 0px;
    }
    /* /Header */

    /* Slajder poseduje eksterni main_slider.css i responsive_slider.css */

    /* Booking start */
    .booking .forms h2{
        margin-bottom: 50px;
    }
    /* /Booking end */
}
