@media only screen and (min-width: 768px){

    /* Header top */
    .headerTop .signIn ul{
        margin-right: -15px;
    }
    .headerTop article address{
        margin-left: -15px;
    }
    /* /Header top */

    /* Header */
    .header .navbar-brand{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .header .navbar-default ul.navbar-nav {
        margin-top: 0px;
        margin-right: -15px;
        float: right;
    }
    .header .navbar-default div.navbar-collapse{
        margin-right: -15px;
    }
    .header .navbar-default .navbar-nav .text-center{
        text-align: right;
    }
    .header .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        color: #24292d;
        font-weight: bold;
        height: 50px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .header .navbar-default div.navbar-collapse .list-inline li{
        padding: 0px;
    }
    .header form{
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline-block;
    }
    .header .form-control{
        margin-left: 50px;
    }
    .header form.pull-right{
        float: right !important;
    }
    /* /Header */

    /* Slajder poseduje eksterni main_slider.css i responsive_slider.css */

    /* PreciousSense */
    .preciousSense p{
        font-size: 21px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        color: #24292d;
        margin-top: 120px;
        margin-bottom: 0px;
    }
    .preciousSense h2{
        font-size: 60px;
        font-family: 'Playball', cursive;
        font-weight: bold;
        color: #24292d;
        margin-top: 0px;
        margin-bottom: 80px;
    }
    /* /PreciousSense */
}
@media only screen and (min-width: 992px){

    /* Header top */
    .headerTop article address{
        float: left;
    }
    .headerTop .signIn ul.text-center{
        text-align: right;
    }
    /* /Header top */

    /* Header */
    .header .navbar-brand{
        margin-top: 10px;
    }
    .header .navbar-default ul.navbar-nav {
        float: left;
    }
    .header .navbar-default .navbar-nav > li > a {
        height: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .header form{
        margin-top: 30px;
    }
    .header .form-control{
        width: 150px;
        margin-left: 50px;
    }
    .header .navbar-default div.navbar-collapse {
        display: inline-block;
        float: right;
    }
    /* /Header */
    
    /* Slajder poseduje eksterni main_slider.css i responsive_slider.css */

    /* PreciousSense */
    
    /* /PreciousSense */
}
@media only screen and (min-width: 1200px){

    /* Header */
    .header .navbar-header{
        margin-left: -15px;
    }
    .header .navbar-default div.navbar-collapse {
        margin-right: -15px;
    }
    .header form{
        margin-right: -15px;
        padding-right: 0px;
    }
    .header .form-control{
        margin-left: 0px;
    }
    /* /Header */
    
    /* Slajder poseduje eksterni main_slider.css i responsive_slider.css */

    /* PreciousSense */
    
    /* /PreciousSense */
}
