@media only screen and (min-width: 450px){
    .container{
        width: 100%;
    }
    .slider .carousel-inner .priceCircle{
        top: 75%;
        right: 20%;
    }
}
@media only screen and (min-width: 768px){
    .slider .description{
        display: inline-block;
        padding: 20px;
        position: absolute;
        top: 10%;
        left: 10%;
        width: 40%;
        background: rgba(255, 255, 255, 0.5);
        color: #000;
    }
}

@media only screen and (min-width: 992px){
    .container{

    } 
}

@media only screen and (min-width: 1200px){
    .container{

    } 
}
